@model IBS.RutaLinea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RutaLinea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ruta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lineas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lineas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paradero1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paradero1.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
