@model IBS.Lineas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lineas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa1.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa1.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado1.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
